<footer>
		<div class="container">
			<div class="footerContent">
				Copyright © 2014-2016 
				<a href="#">iMovie</a>
				Powered by <a href="#">Gary</a>
				<br>
				<a href="#">青ICP备07500044号-1</a>
				<p>特别声明：本站仅提供给高清爱好者交流和测速使用，请在下载后24小时内删除，任何涉及商业盈利目的均不得使用，否则产生的一切后果将由您自己承担，且与本站无关！</p>
				<p>本站不提供任何影片的上传、储存及在线播放，任何版权问题均与本站无关，如有侵权请邮件我们 admin@gary.com</p>
			</div>
		</div>
	</footer>
</body>
</html>